body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfdfd; 
}

h1, h2, h3 {
  color: #333; 
}

section {
  padding: 40px;
  text-align: center;
}

/* Hero section */
.hero-section {
  background-image: url(https://destinopachaonly.theibizahotels.com/data/Pics/OriginalPhoto/12724/1272459/1272459412/destino-pacha-ibiza-resort-playa-de-talamanca-pic-58.JPEG);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  padding: 60px 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Cambia el valor de 0.3 para ajustar la opacidad */
  z-index: 0;
}

.hero-content, .hero-content p {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
}

.hero-image img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Features section */
.features-section {
  background-color: #f8b195; 
}

.features-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-item {
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-image: url('https://media.istockphoto.com/id/1199804796/es/foto/retrato-de-mujer-tur%C3%ADstica-levant%C3%B3-las-manos-y-de-pie-casi-ventana-mirando-a-la-hermosa-vista.jpg?s=612x612&w=0&k=20&c=WMSgeK1ufPQNNUyxKs8kAkY4ha8VIuAYZu7a4y-6gDI='); 
  background-size: cover; 
  background-position: center;
  color: #fff; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.feature-item-reserva {
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/017/186/202/small_2x/amazing-panorama-beach-landscape-maldives-sunset-seascape-view-horizon-with-sea-and-sky-tranquil-scenery-tourism-and-travel-banner-summer-luxury-resort-landscape-vacation-holiday-island-concept-photo.jpg'); 
  background-size: cover; 
  background-position: center;
  color: #fff; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.feature-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.feature-item-reserva::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.feature-item h3, .feature-item p, .feature-item-reserva h3, .feature-item-reserva p  {
  position: relative;
  z-index: 2; 
  color: #fff; 
  text-decoration: none;
}

.feature-item:hover {
  transform: scale(1.05);
}

.feature-item-reserva:hover {
  transform: scale(1.05);
}

/* Testimonials section */
.testimonials-section {
  background-color: #ffddd2; 
}

.testimonial-item {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer section */
.footer-section {
  background-color: #a0d9d9; 
  color: #333; 
  padding: 20px 0;
}

.footer-section p {
  margin: 5px 0;
}