.contenedor-general-reservas {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reserva-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80% ;
  max-width: 920px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.reserva-card h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.reserva-card h3 {
  font-size: 1.6em;
  color: #555;
  margin-bottom: 8px;
}

.reserva-card p {
  font-size: 1.3em;
  color: #555;
  margin-bottom: 8px;
}

.contenedor-imagenes {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.imagenes-reservas {
  height: 130px;
  width: auto;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.imagenes-reservas:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 15px rgba(17, 0, 255, 0.8);
}

.button, .edit-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 190px;          
  max-width: 80%;        
  text-align: center;    
}

.button {
  background-color: #ff4d4f;
  color: white;
}

.edit-button {
  background-color: #4CAF50;
  color: white;
}

.button:hover {
  background-color: #e43e3e;
  transform: scale(1.05);
}

.edit-button:hover {
  background-color: #3d8b3d;
  transform: scale(1.05);
}

.contenedor-general-reservas h1 {
  font-size: 60px;
  color: #ffffff;
}

.informacion-reserva{
  background-color: rgb(176, 176, 251);
  border-radius: 8px;
  padding: 30px;
}

